button.btn {
    border: 2px solid #2B2A2C;
    border-radius: 20px;
    padding: 5px 25px;
    font-weight: bold;
    outline: none;
    margin-bottom: 5px;
    text-transform: uppercase;
}

button.btn:hover {
    background-color: #2B2A2C;
    color: #fff;
    outline: none;
}