.close_btn{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 9px;
    background: #2B2A2C;
    color: #ffffff;
    border-radius: 32px;
    font-size: 14px;
    z-index: 2;
    outline: none;
    border: 0;
}

.project_block{
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    padding: 10px;
}
.project_decp{
    font-size: 12px;
    color: #6A696B;
}

.nav_buttons button{
    border: 0;
    background: inherit;
    outline: none;
}
.project-img{
    min-height: 100px;
}
@media(max-width: 768px){
    .ReactModal__Content{
    display: flex;
    top: 10% !important;
    left: 10px !important;
    right: 10px !important;
    bottom: 3% !important;
    border: 0;
    padding: 0px;
}
}
